<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/profile.css">
</head>
<body>
<div class="container profile-container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 profile">
            <div class="row">
				<div class="col-sm-5">
					<h3>Profile<br></h3>
					<form style="">
						<div class="row">
							<div class="col-sm-3 col-md-3 col-5">
								<label style="font-weight:bold;">Name:</label>
							</div>
							<div class="col-md-8 col-6">Name</div>
						</div>
						<div class="row">
							<div class="col-sm-3 col-md-3 col-5">
								<label style="font-weight:bold;">Email:</label>
							</div>
							<div class="col-md-8 col-6">Email</div>
						</div>
					</form>
					<br>
					
				</div>
				<div class="col-sm-7">
					<h3>Add Position do Shelf<br></h3>
					<form style="">
						<div class="form-group">
							<label>Author</label>
							<input type="text" class="form-control">
						</div>
					</form>
					<form style="">
						<div class="form-group">
							<label>Title</label>
							<input type="text" class="form-control">
						</div>
					</form>
					<form style="">
						<div class="form-group">
							<label>Genre</label>
							<input type="text" class="form-control">
						</div>
					</form>
					<button type="button" class="btnAdd" style="">Add</button>
					<button type="button" class="btnDel" style="">Delete</button>
					<button type="button" class="btnBooks" style="">Books</button>
					<button type="button" class="btnLogout" style="">Logout</button>
				</div>
			</div>	         
        </div>
    </div>
</div>
									
</body>
</html>