<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <title>Book Management</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap4.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="js/dataTables.bootstrap4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="data-table">
<div class="topnav" id="myTopnav">
    <a href="/" class="active">Book Management</a>
    <a href="/">My books</a>
    <a href="/wishlist">My wishlist</a>
    <a href="#contact">Reading history</a>
    <a href="/profile">Profile</a>
    <a href="#about">Stats</a>
</div>
<div class="board" style="height:100%;">
    <div class="board_step" style="width:100%;">
        <div class="customTable">
            <div class="customTablePanel" style="margin:10px;">
                <table id="dt" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Authors</th>
                        <th>Publisher</th>
                        <th>Publication date</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div id="buttonContainer">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addBookModal">Add book</button>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#makeBookModal">Make dream come true!</button>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#delBookModal">Delete book</button>
        </div>
        <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="author">Author:</label>
                            <input type="text" class="form-control" id="author" list="author-datalist">
                            <datalist id="author-datalist"></datalist>
                        </div>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input type="text" class="form-control" id="category">
                        </div>
                        <div class="form-group">
                            <label for="publisher">Publisher:</label>
                            <input type="text" class="form-control" id="publisher" list="publisher-datalist">
                            <datalist id="publisher-datalist"></datalist>
                        </div>
                        <div class="form-group">
                            <label for="date">Publication year:</label>
                            <input type="number" class="form-control" id="date">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="add">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="deleteSelect">Choose book to delete</label>
                        <select class="form-control" id="deleteSelect">

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="del">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="makeBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Choose book from wishlist to add to your shelf!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="wishlistSelect">Choose book from wishlist</label>
                        <select class="form-control" id="wishlistSelect">

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="make">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
<script>
$(document).ready(function() {
    $('#dt').DataTable( {

        "ajax": {
            "url": "/user/books/wishlist",
            "dataSrc": ""
        },
        "columns": [
            { "data": "title"},
            { "data": "category" },
            { "data": "authorsNames" },
            { "data": "publisher" },
            { "data": "year" }
        ],
        "lengthMenu": [8]
    } );
} );

var authorDataList = document.getElementById('author-datalist');
var authorInput = document.getElementById('author');
var publisherDataList = document.getElementById('publisher-datalist');
var publisherInput = document.getElementById('publisher');

$.ajax({
    type: "GET",
    url: "/authors",
    success: function(data) {
        $.each(data, function (index, value) {
            var option = document.createElement('option');
            option.value = value.name;
            authorDataList.appendChild(option);
        });
    }
});

$.ajax({
    type: "GET",
    url: "/publishers",
    success: function(data) {
        $.each(data, function (index, value) {
            var option = document.createElement('option');
            option.value = value;
            publisherDataList.appendChild(option);
        });
    }
});

$.ajax({
    type: "GET",
    url: "/user/books/wishlist",
    success: function(data) {
        var mySelect = $('#deleteSelect');
        var secondSelect = $('#wishlistSelect');
        $.each(data, function (index, value) {
            mySelect.append($('<option></option>').val(value.id).html(value.title));
            secondSelect.append($('<option></option>').val(value.id).html(value.title));
        });
    }
});

$("#add").click( function() {

var book = {"title": $('#title').val(),
            "author": $('#author').val(),
            "category": $('#category').val(),
            "publisher": $('#publisher').val(),
            "year": $('#date').val() };



            $.ajax({
                type: "POST",
                url: "/books/towishist",
                data: JSON.stringify(book),
                contentType: "application/json",
                dataType: "json",
                success: function(data){
                },
                error: function(errMsg) {
                }
            });
    window.location.reload();
});

$("#del").click( function() {
    var name = $("#deleteSelect option:selected").html();
    var id = $("#deleteSelect").val();


$.ajax({
    type: "DELETE",
    url: "/books/wishlist/".concat(id),
    success: function(data) {
    }
});

window.location.reload();
});

$("#make").click( function() {
    var name = $("#wishlistSelect option:selected").html();
    var id = $("#wishlistSelect").val();


$.ajax({
    type: "GET",
    url: "/books/wishlist/add/".concat(id),
    success: function(data) {
    }
});

window.location.reload();
});

</script>
</html>